#
# pip requirement file
#

# Specific version & Common to all OS
numpy==1.26.4
opencv-python==4.11.0.86
PyWinCtl==0.4.1
wled==0.21.0
zeroconf==0.143.0
nicegui==2.11.1
str2bool==1.1
pillow==11.1.0
fastapi==0.115.8
starlette==0.45.3
pystray==0.19.5
psutil==6.1.1
requests==2.32.3
screeninfo==0.8.1

# Platform dependant
pycairo ; sys_platform == "linux"
PyGObject ; sys_platform == "linux"
qtpy ; sys_platform == "linux"

# any version & Common to all OS
yt-dlp
linuxpy
imageio
pygrabber
concurrent-log-handler
cfg-load
async-timeout
sacn
stupidArtnet
fonttools
coldtype[viewer]
noise
simpleeval
av
librosa
pydantic
a2wsgi
pytubefix
moviepy
