#
# pip requirement file
#

# Specific version & Common to all OS
numpy==1.26.4
opencv-python==4.10.0.84
PyWinCtl==0.4.1
wled==0.16.0
zeroconf==0.134.0
nicegui==2.2.0
str2bool==1.1
pillow==10.4.0
fastapi==0.109.2
starlette==0.36.3
pystray==0.19.5
uvicorn[standard]==0.30.6
psutil==6.0.0
FreeSimpleGUI==5.1.1
requests==2.32.3
screeninfo==0.8.1
av==13.0.0
youtube-search-python==1.6.6

# Platform dependant
pywebview==5.1 ; sys_platform != "linux"
pywebview[qt]==5.1 ; sys_platform == "linux"
pycairo ; sys_platform == "linux"
PyGObject ; sys_platform == "linux"
qtpy ; sys_platform == "linux"

# any version & Common to all OS
yt-dlp
linuxpy
imageio
pygrabber
concurrent-log-handler
cfg-load
async-timeout
