#
# pip requirement file
#

# Platform dependant
# urllib3==1.26.20 ; sys_platform == "darwin"
winloop ; sys_platform == "win32"


# Specific version & Common to all OS
pywebview[pyside6]
numpy
opencv-python
zeroconf
nicegui==3.0.4
pillow
fastapi
starlette
requests
av==15.1.0  # problem nuitka/ 16.1.0
mss
moviepy==1.0.3
coldtype[viewer]
aiohttp
fonttools==4.58.5 # problem nuitka/ pkg_resource with 4.59.0

# any version & Common to all OS
urllib3
str2bool
PyWinCtl
pystray
screeninfo
psutil
wled
yt-dlp
imageio
concurrent-log-handler
cfg-load
async-timeout
sacn
stupidArtnet
noise
simpleeval
pytubefix
schedule
unidecode
cv2_enumerate_cameras
qrcode
cryptography
skia-python
